* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color:rgb(253, 253, 253);
    background: linear-gradient(#F5E1D9 4%,rgb(253, 253, 253) 30%); 
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

canvas{
    position: relative;
}

/* Game with caption */

.logoImg {
    display: block;
    margin: 0 auto;
    max-width: 10%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.logoHeading {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 35%;
}

h1 {
    color: #B5121B;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    font-style: italic;
    text-transform: uppercase; 
}

.subHeading {
    color: rgb(61, 61, 61);
}

.categoryList {
    display: grid;
    list-style: none;
    grid-template-columns: 152px 152px 152px 152px 152px;
    padding-left: 0;
    margin-bottom: 5px;
}

.categoryItem {
    color: rgb(253, 253, 253);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase; 
    background: #B5121B;
    margin: 0 15px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.gameBody{
    position: relative;
    width: 760px;
    margin: 0 auto;
}

.gameBodySlots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: relative;
    z-index: 1;
}

.gameGrid {
    display: grid;
    grid-template-columns: 152px 152px 152px 152px 152px 100px;
}

.gameSlotItem {
    background: rgb(253, 253, 253);  
    border: 1px solid #a3a2a2;
    margin: 0 15px;
    height: 100px;
    overflow: hidden;
    /* -webkit-box-shadow: inset 0 0 4px #c5c4c4;
            box-shadow: inset 0 0 4px #c5c4c4; */
    box-shadow: 
        inset 0px 11px 12px -8px #c5c4c4,
        inset 0px -11px 12px -8px #c5c4c4; 
}

.lock-icon {
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.gameStart {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    border-radius: 50%;
    background-color: #B5121B;
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 2em;
    margin: -25px 0 0 20px;
    font-style: italic;
    text-transform: uppercase; 
}

.gameStartBtn::after {
    content: "";
    display: block;
    border-radius: 50%;
    padding: 75px;
    margin: -142px 0 0 14px;
    -webkit-box-shadow: 1px 1px 10px rgb(225, 147, 147);
            box-shadow: 1px 1px 10px rgb(160, 65, 65);
}

.gameHoldBtn {
    display: grid;
    grid-template-columns: 152px 152px 152px 152px 152px;
    margin-bottom: 20px;
}

.gameHoldItem {
    margin: -15px 15px 5px 15px;
    border-radius: 0 0 15px 15px; 
    padding: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
}


/* Button blinking */

/* .blinking b{
    color: #FFFAFA;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #a01b1b, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 5px 3px #000;
  }
  .blinking b span{
    animation: blink linear infinite 5s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color:rgb(216, 25, 34);
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: rgb(202, 29, 37);
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92.5% {
      color: #B5121B;
      text-shadow: none;
    }

  } */

/* Idea */

.idea {
    position:relative;
    width: 760px;
    margin: 0 auto;
}

.ideaGrid {
    display: grid;
    grid-template-columns: 100px 660px;
    margin-bottom: 10px;
}

.ideaHeading {
    color: rgb(253, 253, 253);
    text-align: center;
    font-style: italic;
    text-transform: uppercase; 
    background: #B5121B;
    border-radius: 15px 0 0 15px;
    margin: 0 0 0 15px;
    padding: 8px;
    -webkit-box-shadow: 1px 1px 10px rgb(209, 209, 209);
            box-shadow: 1px 1px 10px rgb(209, 209, 209);
}

.ideaText {
    border: 1px solid rgb(168, 168, 168);
    border-radius: 0 15px 15px 0; 
    padding: 8px;
    margin: 0 15px 0 10px;
    font-size: 1.2em;
    -webkit-box-shadow: 1px 1px 10px rgb(209, 209, 209);
            box-shadow: 1px 1px 10px rgb(209, 209, 209);
}

h3 {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 0;
}

/* Menu */

.menuList {
    display: grid;
    list-style: none;
    grid-template-columns: 152px 152px 152px 152px 152px;
    margin: 0 auto;
    width: 760px;
    padding-left: 0;
    margin-bottom: 25px;
}

.menuItem {
    border: 1px solid rgb(128, 127, 127);
    font-style: italic;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 500;
    background-color: rgb(243, 243, 243);
}

.menuR {
    background-color: #B5121B;
}

.logoTLU {
    position: relative;
    display: block;
    margin: 0 auto 25px auto;
    max-width: 16%;
}

a {
    color: rgb(46, 46, 46);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Menu underline */

.menuItem {
    display: inline-block;
    color: #B5121B;
    text-decoration: none;
}

.menuItem::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #B5121B;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.menuItem:hover::after {
    width: 100%;
}

.descriptionBg {
    background-color: #F6E2DA;
}

.contactBg {
    background-color:rgb(46, 46, 46);
}

.descriptionGrid,
.creditsGrid,
.contactGrid {
    position: relative;
    width: 760px;
    margin: 0 auto;
}

#description {
    padding-bottom: 60px;
}

#credits {
    height: 300px;
}

#contact {
    color:rgb(240, 239, 239);
    padding-bottom: 30px;
}

.description, 
.credits,
.contact {
    display: grid;
    grid-auto-columns: 100px 560px;
    padding: 40px;
}

div .descriptionHeading {
    grid-column: 1;
    grid-row: 1;
    font-size: 2.6em;
    font-weight: 800;
    color: rgb(46, 46, 46);
    width: 400px;
    height: 100px;
    padding-left: 120px;
    margin-left: -170px;

}

div .creditsHeading {
    font-size: 2.6em;
    font-weight: 800;
    color: rgb(46, 46, 46);;
    width: 400px;
    height: 100px;
    padding-left: 60px;
    margin-left: -170px;
}

div .contactHeading {
    font-size: 2.6em;
    font-weight: 800;
    color: #F6E2DA;
    width: 400px;
    height: 100px;
    padding-left: 60px;
    margin-left: -170px;
}

div .descriptionHeading,
div .contactHeading,
div .creditsHeading {
    text-align: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.descriptionInfo {
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
    max-width: 85%;
    font-size: 1.2em;
    line-height: 1.6em;
    color: rgb(46, 46, 46);;
    text-align: left;
}

.creditsInfo {
    grid-column: 2;
    grid-row: 1;
    display: block;
    margin: 0 auto;
    color: rgb(46, 46, 46);;
    font-size: 1.2em;
    line-height: 1.6em;
}

.contactInfo {
    grid-column: 2;
    grid-row: 1;
    display: block;
    margin: 0 auto;
    color: #F6E2DA;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
}

.socialmediaIcons{
    padding: 2px;
    margin: 3px;
    width: 30px;
    height: 30px;
}


/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Middle of screen*/
    z-index: 15; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 50%;
    top: 50%;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0,0,0,0.8); /* Black w/ opacity */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2),0 6px 20px 0 rgba(80, 80, 80, 0.2);
            box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2),0 6px 20px 0 rgba(80, 80, 80, 0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

    /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #B5121B;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #B5121B;
    color: white;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #B5121B;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loaderBody{
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: black;
}


/* Max-width 1100 */

@media all and (max-width:1100px) { 

    .logoImg {
        max-width: 15%;
    }
    
    .logoHeading {
        max-width: 55%;
    }

    .logoTLU {
        max-width: 25%;
    }

    #description,
    #credits,
    #contact {
        display: block;
    }

    div .descriptionHeading,
    div .contactHeading,
    div .creditsHeading {
        padding: 0;
        width: 200px;
        height: 50px;
        margin: 0 auto 10px auto;
        font-size: 2.2em;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .creditsInfo {
        text-align: center;
    }

}

/* Medium screens 800 */
@media all and (max-width: 800px) {

    .categoryList,
    .gameBodySlots,
    .gameHoldBtn {
        display: block;
    }

    .gameBody {
        display: grid;
        width: 210px;
        grid-template-columns: 40px 120px 40px;
        grid-gap: 5px;
        margin: 0 auto;
    }

    .categoryList,
    .gameHoldBtn {
        display: grid;
        grid-template-columns: 40px;
        grid-auto-rows: 120px 120px 120px 120px 120px;
    }

    .gameBodySlots {
        display: grid;
        grid-template-columns: 120px;
        grid-auto-rows: 120px 120px 120px 120px 120px;
    }

    /* headers */

    .ciTarget {
        grid-column: 1;
        grid-row: 1;
    }

    .ciNeed { 
        grid-column: 1;
        grid-row: 2;
    }

    .ciGenre {
        grid-column: 1;
        grid-row: 3;
    }

    .ciDesign {
        grid-column: 1;
        grid-row: 4;
    }

    .ciLearning {
        grid-column: 1;
        grid-row: 5;
    }

    /* gameslots */

    .gsTarget {
        grid-column: 1;
        grid-row: 1;
    }

    .gsNeed { 
        grid-column: 1;
        grid-row: 2;
    }

    .gsGenre {
        grid-column: 1;
        grid-row: 3;
    }

    .gsDesign {
        grid-column: 1;
        grid-row: 4;
    }

    .gsLearning {
        grid-column: 1;
        grid-row: 5;
    }

    /* hold buttons */

    .ghTarget {
        grid-column: 1;
        grid-row: 1;
    }

    .ghNeed { 
        grid-column: 1;
        grid-row: 2;
    }

    .ghGenre {
        grid-column: 1;
        grid-row: 3;
    }

    .ghDesign {
        grid-column: 1;
        grid-row: 4;
    }

    .ghLearning {
        grid-column: 1;
        grid-row: 5;
    }

    /* game area */

    .categoryList {
        margin: 0;
    }

    .categoryItem {
        color: rgb(253, 253, 253);
        text-align: center;
        font-style: italic;
        font-size: 1em;
        height: 30px;
        width: 100px;
        margin-top: 35px;
        margin-left: -25px;
        text-transform: uppercase; 
        background: #B5121B;
        border-radius: 15px 15px 0 0;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);

        /* margin: auto 0 auto -12px; */
    }

    .gameSlotItem {
        margin: 0;
    }

    .gameHoldItem{
        width: 38px;
        height: 100px;
        margin: 0;
        /* margin-top: 10px;
        margin-left: -15px; */
        border-radius: 0 15px 15px 0;
        padding-left: 8px;
    }

    .gameStartBtn {
        margin: 0 auto;
    }
    
    .gameStart {
        padding: 20px;
        font-size: 1.6em;
        margin-top: 10px;
        margin-left: 9px;
    }
    
    .gameStartBtn::after {
        padding: 60px;
        margin: -110px 0 0 0;
    }

    /* idea */

    .idea {
        position:relative;
        width: 480px;
        margin: 0 auto;
    }
    
    .ideaGrid {
        display: grid;
        grid-template-columns: 100px 420px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    h3 {
        font-size: 1.4em;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .menuList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 90%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .descriptionGrid,
    .creditsGrid,
    .contactGrid {
        position: relative;
        width: 500px;
        margin: 0 auto;
    }

    .description,
    .credits,
    .contact {
        padding: 40px 0;
    }

    .descriptionInfo,
    .creditsInfo,
    .contactInfo {
        font-size: 1.2em;
    }

    .descriptionInfo {
        max-width: 80%;
        text-align: left;
        margin: 0 auto;
    }

    .modal {
        width: 180vw;
        height: 120vh;
    }

}

/* Mini screens 500 */

@media all and (max-width: 500px) {
    .menuList {
        max-width: 40%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .menuItem {
        margin-bottom: 5px;
        font-size: 1em;
    }

    .logoImg {
        max-width: 20%;
        margin-bottom: 20px;
    }
    
    .logoHeading {
        max-width: 75%;
    }

    .logoTLU {
        max-width: 50%;
    }
    
    /* idea */

    .idea {
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
    
    .ideaGrid {
        display: block;
    }

    .ideaHeading {
        font-size: 1.2em;
        margin: 0 auto 10px auto;
        width: 100px;
        border-radius: 0;
        font-style: normal;
    }

    .ideaText {
        border-radius: 4px;
        margin-bottom: 30px;
    }


    h3 {
        font-size: 1.4em;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .descriptionGrid,
    .creditsGrid,
    .contactGrid {
        width: 300px;
    }

    div .descriptionHeading,
    div .contactHeading,
    div .creditsHeading {
        font-size: 1.6em;
        width: 200px;
    }

    .descriptionInfo {
        max-width: 90%;
        width: 300px;
        margin: 0 auto;
    }
}

/* Min-width 1500 */

@media all and (min-width:1500px) {

    .logoImg {
        margin-top: 30px;
        margin-bottom: 60px;
        display: block;
    }

    .logoHeading {
        max-width: 42%;
        margin-bottom: 40px;
    }

    .categoryList {
        margin-top: 20px;
    }

    .gameHoldBtn {
        margin-bottom: 60px;
    }

    .ideaGrid {
        margin-bottom: 40px;
    }

    h3 {
        font-size: 2.2em;
        margin-bottom: 80px;
    }

    .menuList {
        margin-bottom: 70px;
    }

    .logoTLU{
        margin-bottom: 50px;
    }

    div .descriptionHeading,
    div .creditsHeading,
    div .contactHeading  {
        margin-left: -200px;
    }

    .descriptionInfo {
        max-width: 100%;
        margin-left: 20px;
    }

}

